@import '../../styles/base.scss';

.container {
    @include fontPoppins;
    @include center;
    height: 90vh;

    .wrapper {
        padding: 20px;
        width: 25%;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        h1 {
            text-align: center;
        }

        form {
            @include flex-column;

            .inputItem {
                @include flex-column;

                label {
                    font-size: 1.1rem;
                    font-weight: 700;
                }

                input {
                    padding: 0.4rem;
                    font-size: 1rem;
                    margin-bottom: 1.5rem;
                    border-radius: 5px;
                    background-color: rgb(211, 211, 211);
                }
            }

            button {
                padding: 0.5rem;
                background-color: $primary-blue;
                color: white;
                border-radius: 4px;
                cursor: pointer;
            }

            .buttonRegister {
                margin: 1rem 0 1rem;
                cursor: pointer;
            }
        }

        p {
            font-size: 12px;
            text-align: center;
        }
    }
}

@media (max-width: 450px) {
    .container {

        .wrapper {
            padding: 10px;
            width: 80%;
        }
    }
}